<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay" class=".ion-menu">

      <ion-content>

        <ion-list id="inbox-list">
          <ion-list-header class=".ion-text-center"> Welcome to GitNFT!</ion-list-header>
          <ion-note class=".ion-text-center">GitHub and NFT client</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let pages of Pages; let i = index">
            <ion-item (click)="activeIndex = i" routerDirection="root" [routerLink]="[pages.url]" lines="none"
              detail="false" [class.selected]= "activeIndex == i">
              <ion-icon slot="start" [ios]="pages.icon" [md]="pages.icon"></ion-icon>
              <ion-label>{{ pages.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>


