<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<ion-app>
    <ion-menu contentId="main-content" type="overlay" class=".ion-menu" side="end">

      <ion-content>

        <ion-list id="inbox-list">
          <ion-list-header class=".ion-text-center"> <h3>GitNFT</h3></ion-list-header>
          <ion-menu-toggle auto-hide="true" *ngFor="let page of pages; let i = index">
            <ion-item (click)="click(i, page)" routerDirection="root" [routerLink]="[page.url]" lines="none"
              detail="false" [class.selected]= "activeIndex === i">
              <ion-icon slot="start" [ios]="page.icon" [md]="page.icon"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>


